<% meta.menuActive = 'home' %>
<%- include('./src/html/partials/_pagehead.html', { meta }) -%>

<p>We work for a small group of national retailers and developers and operate exclusively in the area of commercial property. The firm embodies a flexible approach to the delivery of legal services and offers practical and creative advice and constructive solutions.</p>

<iframe class="sraframe" src="https://cdn.yoshki.com/iframe/55845r.html" scrolling="no"></iframe>

<p>Our legal services include:</p>

<ul>
  <li>residential and commercial property development</li>
  <li>commercial property leases</li>
  <li>planning agreements</li>
  <li>property options</li>
  <li>joint ventures</li>
  <li>building agreements</li>
  <li>licences</li>
</ul>


<h2 id="contact">Contact us</h2>

<p>Please contact us for further information about any of our services:</p>

<div class="vcard" itemscope="itemscope" itemtype="http://schema.org/Organization">

  <p><a href="/" class="fn org url" itemprop="name">Paul Taylor Solicitors</a></p>
  <ul class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
    <li class="street-address" itemprop="streetAddress">PO Box 451</li>
    <li class="locality" itemprop="addressLocality">Exeter</li>
    <li class="region" itemprop="addressRegion">Devon</li>
    <li class="postal-code" itemprop="postalCode">EX4 2WX</li>
    <li class="country-name" itemprop="addressCountry">United Kingdom</li>
  </ul>

  <dl class="tel">
    <dt class="type" title="telephone">telephone:</dt>
    <dd class="value" title="telephone" itemprop="telephone"><a href="tel:+44-1392-811728">01392 811 728</a></dd>
  </dl>

  <dl class="tel">
    <dt class="type" title="mobile">mobile:</dt>
    <dd class="value" title="mobile"><a href="tel:+44-7810-836696">07810 836696</a></dd>
  </dl>

  <dl class="fax">
    <dt class="type" title="fax">fax:</dt>
    <dd class="value" title="fax">01392 811729</dd>
  </dl>

  <dl>
    <dt>email:</dt>
    <dd><a href="mailto:paul@taylorsolicitors.co.uk" class="email" itemprop="email" title="email us">paul@taylorsolicitors.co.uk</a></dd>
  </dl>

  <dl>
    <dt>VAT number:</dt>
    <dd>860 4509 30</dd>
  </dl>

  <dl>
    <dt><a href="http://www.sra.org.uk/">SRA number:</a></dt>
    <dd>421023</dd>
  </dl>

</div>

<%- include('./src/html/partials/_pagefoot.html', { meta }) -%>
