<% meta.title = 'Paul Taylor Solicitors: terms & conditions' %>
<% meta.menuActive = 'terms' %>
<%- include('./src/html/partials/_pagehead.html', { meta }) -%>

<p>This website is provided by Paul Taylor Solicitors. Access to and use of this website is subject to the following terms and conditions. By accessing this website you signify your acceptance of these terms and conditions of use. Paul Taylor Solicitors reserve the right to change these terms and conditions at any time and will not be obliged to notify you of any such changes. You are therefore advised to check these terms and conditions regularly and that your continued use of the website following any such change indicates your acceptance of the new terms.</p>

<h2>private use limitation</h2>

<p>This website is for your own private, non-commercial use only. You are specifically prohibited from modifying, copying, distributing, transmitting, displaying, performing, reproducing, publishing, licensing, creating derivative works, transferring or selling any information, software, products or services contained here.</p>

<p>You are solely responsible for evaluating the accuracy and completeness of the information, services, systems, articles and data published ("content"). The content is intended for general information only and should not be construed as advice nor should it be relied on in any individual circumstances. You are strongly advised to take appropriate professional and legal advice before entering into any binding contracts.</p>

<h2>limitation of liability and disclaimer</h2>

<p>All reasonable endeavours have been taken to ensure that content is accurate. However, Paul Taylor Solicitors and its content providers do not represent or make any warranty in respect of the accuracy or completeness of any of the information, content or software contained, distributed through or linked, downloaded, or accessed from any of the services provided. Furthermore, Paul Taylor Solicitors does not warrant, represent or endorse the accuracy or completeness of any information provided by third parties and shall not be liable for any information displayed on this site that has been provided by a third party.</p>

<p>Paul Taylor Solicitors is designed for use by UK residents and the information contained within it relates to UK residents only.</p>

<p>This website is provided by Paul Taylor Solicitors on an 'as is' basis. Paul Taylor Solicitors expressly disclaims any and all warranties, expressed or implied, to the fullest extent permitted by law, including, without limitation, any warranties for the information, data services, interrupted use, errors, omissions, delays, termination of service, loss of data for any reason, fitness for purpose and infringement of third parties' property rights.</p>

<p>To the fullest extent permitted by applicable law, and except in respect of death or personal injury arising from Paul Taylor Solicitor's negligence, Paul Taylor Solicitors hereby excludes liability for any claims, loss, demands or damages or any kind whatsoever with respect to this website, including, without limitation, any direct, indirect or consequential loss or damages, whether arising from loss of profits, loss of revenue, loss of data, loss of use or otherwise, the foregoing will apply whether such claims, loss or damages arise in tort, contract, negligence under statute or otherwise. If you are a consumer, your statutory rights are not affected.</p>

<h2>terms of use</h2>

<p>Paul Taylor Solicitors may provide an opportunity for you to contribute your ideas, comments, questions and other communications within message boards, chat rooms, email and other features. You may not use these systems to perform illegal or immoral activities. The following activities are not permitted on, or in connection with, this website:</p>

<ul>
  <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>

  <li>Transmit any material that contains computer code designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment, e.g. software viruses.</li>

  <li>Post or transmit any unlawful, fraudulent, libellous, defamatory, obscene, pornographic, profane, threatening, abusive, hateful, offensive or otherwise objectionable information of any kind, including, without limitation, any transmissions constituting or encouraging conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any law.</li>

  <li>Impersonate anyone or any entity falsely stating or otherwise misrepresenting your affiliation with the person or entity.</li>

  <li>Post or transmit any advertisements, solicitations, chain letters, pyramid schemes, investment opportunities or schemes, or other unsolicited commercial messages.</li>

  <li>You acknowledge that personal information disclosed by you on any community is disclosed at your own risk and may be used by others.</li>

  <li>Paul Taylor Solicitors reserves the right to terminate your access to this website or its systems without notice for any reason whatsoever.</li>

  <li>Paul Taylor Solicitors reserves the right to pass on your details together with copies of any postings in the event that it is required to do so by any statutory authority or you breach any of these terms and conditions.</li>

  <li>Paul Taylor Solicitors may at any time monitor any such message boards, chat rooms and so forth but does not do so on a continuous basis and cannot therefore be held liable for any postings made. Paul Taylor Solicitors may at any time remove any posting that it believes is inappropriate or infringes any of the regulations above. If you see any postings which you consider to be inappropriate, please <a href="/#contact">contact Paul Taylor Solicitors</a> to report the post and Paul Taylor Solicitors will take appropriate action.</li>
</ul>

<h2>privacy policy</h2>

<p>Paul Taylor Solicitors is committed to protecting your privacy. We are registered under the Data Protection Act 1998 and we will, on written request, disclose to you any customer information that we have gathered about you. We will give you the opportunity to correct any information we hold.</p>

<h3>personal information collected</h3>

<p>No personal information is collected when browsing web pages or using systems within this site. Paul Taylor Solicitors reserves the right to save information using a browser "cookie" as part of providing a personalised service. However, you cannot be identified by means of a cookie and can choose to accept, reject or delete a cookie.</p>

<p>Some online applications or services provided within this website require personal information to be entered. These systems have their own terms, privacy statements and policies in addition to the information contained within this document and you are advised to check each one carefully before deciding whether to proceed.</p>

<h3>email</h3>

<p>Email addresses are required in order to register for features such as newsletters. All emails contain instructions to unsubscribe where appropriate.</p>

<h3>disclosure to third parties</h3>

<p>We will not disclose your email address, name, postal address or any data that could identify you to a third party without first receiving your permission.</p>

<p>In general, most online applications provide an opt-in box asking if you would like to receive email notifications from Paul Taylor Solicitors and selected third parties.</p>

<h3>security</h3>

<p>Paul Taylor Solicitors takes steps to ensure that your information is treated securely and uses encryption and authentication to protect sensitive information. We recommend that you do not divulge your user ID or password to anyone. However, because the Internet is an open system, we cannot guarantee that personal information you have entered will not be intercepted and decrypted by others and will not be liable in the event this does occur. Any information you transmit to us is done so at your own risk. Once we receive your transmission, we will use our best efforts to ensure its security on our systems.</p>

<h3>more information</h3>

<p>If you want more information concerning the Paul Taylor Solicitors terms and conditions, please <a href="/#contact">contact us</a>.</p>

<h2>data protection compliance statement</h2>

<p>Information regarding the data protection act is available at the <a href="http://www.informationcommissioner.gov.uk/">Information Commissioner</a> and <a href="http://www.opsi.gov.uk/acts/acts1998/19980029.htm">HMSO</a> websites.</p>

<p>Paul Taylor Solicitors has undergone thorough inspection for data protection compliance and complies with the following data protection guidelines:</p>

<h3>the fair processing code</h3>

<p>The identity of the data controller: Paul Taylor Solicitors is registered under the data protection act, and is the data controller for all Paul Taylor Solicitors websites.</p>

<p>Purpose for storing information: the Paul Taylor Solicitors privacy statement describes the purpose for which information is gathered and stored.</p>

<h3>information held about individuals</h3>

<p>Personal details: Paul Taylor Solicitors ensures that clear guidelines are provided when users complete registration details for using an online application or service.</p>

<p>Web hits: Paul Taylor Solicitors gathers web usage statistics, however, these are not traceable to individual users.</p>

<p>Emails: emails received by Paul Taylor Solicitors may be archived for future reference, but all information is kept secure and is not offered to third parties.</p>

<h3>right to prevent processing for the purposes of direct marketing</h3>

<p>Users who subscribe to Paul Taylor Solicitors information, which may contain direct marketing material, can cancel their subscription to these services. Paul Taylor Solicitors does not have any plans to approach users with direct marketing, other than through these systems.</p>

<p>Paul Taylor Solicitors will not disclose your email address to third parties or use it in any way for direct marketing other than for sending newsletters to which users choose to subscribe.</p>

<h3>right to take action to rectify, block, erase or destroy inaccurate data</h3>

<p>Paul Taylor Solicitors allows users to access and edit their details at any time.</p>

<h3>right of subject access</h3>

<p>After receiving a formal request in writing, Paul Taylor Solicitors can retrieve information stored about an individual within forty days. Paul Taylor Solicitors is aware that it must protect the details it stores and reserves that right to take whatever steps it deems necessary to ensure it correctly identifies the individual requesting the information prior to releasing any such reports.</p>

<h3>conditions for processing sensitive data</h3>

<p>All Paul Taylor Solicitors systems contain information describing the processing that will be applied to personal data.</p>

<h2>links to third party Web sites</h2>

<p>Links from this website to third party websites are provided for convenience only. Paul Taylor Solicitors is not responsible for the content, accuracy or availability of the information provided on a third party site, nor is Paul Taylor Solicitors liable in the event any link fails to operate. Inclusion of such links does not imply an endorsement or recommendation by Paul Taylor Solicitors of the content on such sites or any association with their operators.</p>

<h2>copyright and trademark notices</h2>

<p>All content in this website is copyright Paul Taylor Solicitors. Paul Taylor Solicitors and the names of products and services provided within this site are trademarks of Paul Taylor Solicitors or third party suppliers. No reproduction of any part of this website may be made, nor may any information contained in this website be copied, altered or adapted without Paul Taylor Solicitor's prior written consent. Additionally, you may not reverse engineer, disassemble, decompile, alter, amend or adapt any part of this website or any software contained within it.</p>

<h2>general</h2>

<p>These terms of service are governed by the laws of England. You hereby consent to the exclusive jurisdiction of the English courts. These terms of service constitute the entire agreement between you and Paul Taylor Solicitors and govern your use of this website. Any failure by Paul Taylor Solicitors to exercise or enforce any rights shall not constitute a waiver of such rights. If any provision of these terms of service are found by a court to be invalid, you nevertheless agree that the court should endeavour to give effect to the intentions of the parties as reflected in the terms and the other provisions of these terms shall remain in full force and effect.</p>

<%- include('./src/html/partials/_pagefoot.html', { meta }) -%>
